*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body{
  font-family:Arial,Helvetica,sans-serif;

  background:#f5f6f8;

  color:#111827;
}

.payment-page{
  min-height:100vh;

  display:flex;
  align-items:center;
  justify-content:center;

  padding:20px;
}

.payment-card{
  width:100%;
  max-width:420px;

  background:#fff;

  border:1px solid #e5e7eb;

  border-radius:22px;

  padding:30px 25px;

  text-align:center;

  box-shadow:
    0 18px 50px rgba(0,0,0,.08);
}

.top-icon{
  width:52px;
  height:52px;

  margin:0 auto 14px;

  border-radius:15px;

  display:flex;
  align-items:center;
  justify-content:center;

  background:#fff0f0;

  font-size:24px;
}

.payment-card h1{
  font-size:26px;

  font-weight:900;
}

.subtitle{
  margin-top:7px;

  color:#737373;

  font-size:13px;
}

.amount{
  margin-top:18px;

  font-size:36px;

  font-weight:900;

  color:#f23030;
}

.upi-label{
  text-align:left;

  margin-top:22px;
  margin-bottom:7px;

  color:#737373;

  font-size:11px;

  font-weight:800;
}

.upi-box{
  display:flex;
  align-items:center;
  justify-content:space-between;

  gap:10px;

  padding:12px 13px;

  background:#fafafa;

  border:1px solid #dedede;

  border-radius:10px;
}

.upi-box span{
  font-size:13px;

  font-weight:800;

  text-align:left;

  word-break:break-all;
}

.upi-box button{
  border:0;

  padding:9px 11px;

  border-radius:8px;

  background:#111827;

  color:#fff;

  font-size:10px;

  font-weight:900;

  cursor:pointer;
}

.qr-title{
  margin-top:22px;

  margin-bottom:12px;

  font-size:13px;

  font-weight:900;
}

.qr-box{
  width:220px;
  height:220px;

  margin:auto;

  padding:9px;

  background:#fff;

  border:1px solid #dedede;

  border-radius:14px;
}

.qr-box img{
  width:100%;
  height:100%;

  object-fit:contain;

  display:block;
}

.scan-text{
  margin-top:11px;
  margin-bottom:18px;

  color:#777;

  font-size:11px;
}

.paid-btn{
  width:100%;

  border:0;

  padding:16px;

  border-radius:11px;

  background:
    linear-gradient(
      135deg,
      #ff3737,
      #dc1d1d
    );

  color:#fff;

  font-size:14px;

  font-weight:900;

  cursor:pointer;

  box-shadow:
    0 10px 25px rgba(255,45,45,.22);

  transition:.2s;
}

.paid-btn:hover{
  transform:translateY(-2px);
}

.paid-btn span{
  margin-left:7px;
}

.payment-error{
  display:none;

  margin-top:12px;

  padding:12px;

  border-radius:10px;

  background:#fff1f1;

  border:1px solid #ffcaca;

  color:#c51f1f;

  font-size:12px;

  font-weight:800;
}

.payment-error.show{
  display:block;
}

.back-btn{
  display:inline-block;

  margin-top:19px;

  color:#737373;

  text-decoration:none;

  font-size:12px;

  font-weight:700;
}

@media(max-width:480px){

  .payment-page{
    padding:12px;
  }

  .payment-card{
    padding:24px 17px;
  }

  .qr-box{
    width:205px;
    height:205px;
  }

}
